# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment
brenv/

# Ignore distribution and packaging files
*.egg-info/
dist/
build/

# Ignore other unwanted files
*.log
*.swp

